.overview * {
	box-sizing: border-box;
}

.automation-builder {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: 100%;
}

.automation-builder .reactflow-wrapper {
	flex-grow: 1;
	height: 100%;
}

.automation-builder aside.sidebar {
	background: #fcfcfc;
	border-left: 1px solid #000000;
	padding: 16px;
	width: 25%;
}

.automation-builder aside .description {
	margin-top: 16px;
	color: #000;
}

.automation-builder .dndnode-icon {
	margin-right: 12px;
}

.automation-builder .dndnode {
	height: 50px;
	padding: 16px;
	border: 1px solid #1a192b;
	color: #1a192b;
	border-radius: 4px;
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	cursor: grab;
	min-width: 120px;
}

.automation-builder .dndnode.document {
	background-color: #1976d214;
	color: #1976d2;
	border: 1px solid #1976d2;
}

.automation-builder .dndnode.text-translation {
	background-color: #d400e914;
	color: #d400e9;
	border: 1px solid #d400e9;
}

.automation-builder .dndnode.email {
	background-color: #ef910014;
	color: #ef9100;
	border: 1px solid #ef9100;
}

.automation-builder .dndnode.text-classification {
	background-color: #22c47d14;
	color: #22c47d;
	border: 1px solid #22c47d;
}

.automation-builder .dndnode.language-detection {
	background-color: #e5000014;
	color: #e50000;
	border: 1px solid #e50000;
}

.automation-builder .dndnode.sentiment-analysis {
	background-color: #00bbce14;
	color: #00bbce;
	border: 1px solid #00bbce;
}

.automation-builder .edit-node-name {
	color: #000;
	display: flex;
	align-items: center;
	margin: 16px 0;
}

.automation-builder .edit-node-save-btn {
	width: 100%;
	padding: 8px;
	background: #1976d2;
	border-radius: 4px;
}

.automation-builder .custom-node-container {
	display: flex;
	align-items: center;
}

.automation-builder .custom-node-icon {
	margin-right: 8px;
	font-size: 0.8rem;
}

.automation-builder .custom-node {
	padding: 10px;
	border: 1px solid #1a192b;
	color: #1a192b;
	border-radius: 4px;
	display: flex;
	align-items: center;
	cursor: grab;
	min-width: 90px;
	font-size: 0.6rem;
}

.automation-builder .custom-node.email {
	background-color: #ef910014;
	color: #ef9100;
	border: 1px solid #ef9100;
}

.automation-builder .custom-node.email.selected {
	border: 1px dashed #ef9100;
}

.automation-builder .custom-node.document {
	background-color: #1976d214;
	color: #1976d2;
	border: 1px solid #1976d2;
}

.automation-builder .custom-node.document.selected {
	border: 1px dashed #1976d2;
}

.automation-builder .custom-node.text-classification {
	background-color: #22c47d14;
	color: #22c47d;
	border: 1px solid #22c47d;
}

.automation-builder .custom-node.text-classification.selected {
	border: 1px dashed #22c47d;
}

.automation-builder .custom-node.text-translation {
	background-color: #d400e914;
	color: #d400e9;
	border: 1px solid #d400e9;
}

.automation-builder .custom-node.text-translation.selected {
	border: 1px dashed #d400e9;
}

.automation-builder .custom-node.sentiment-analysis {
	background-color: #00bbce14;
	color: #00bbce;
	border: 1px solid #00bbce;
}

.automation-builder .custom-node.sentiment-analysis.selected {
	border: 1px dashed #00bbce;
}

.automation-builder .custom-node.language-detection {
	background-color: #e5000014;
	color: #e50000;
	border: 1px solid #e50000;
}

.automation-builder .custom-node.language-detection.selected {
	border: 1px dashed #e50000;
}

.automation-builder .edit-node-btn {
	margin-left: 10px;
	padding: 3px;
}

.automation-builder .edit-node-icon {
	font-size: 0.5em;
}

.automation-builder .edit-node-btn.email {
	background: #ef910040;
}

.automation-builder .edit-node-btn.document {
	background: #1976d240;
}

.automation-builder .edit-node-btn.text-translation {
	background: #d400e940;
}

.automation-builder .edit-node-btn.language-detection {
	background: #e5000040;
}

.automation-builder .edit-node-btn.text-classification {
	background: #22c47d40;
}

.automation-builder .edit-node-btn.sentiment-analysis {
	background: #00bbce40;
}

.automation-builder .save-progress-btn {
	position: absolute;
	z-index: 10;
	top: 16px;
	left: 16px;
}
